streamlit
openai
python-dotenv
langchain
langchain_community
anthropic
transformers
torch
plotly
pillow
slack-sdk
secure-smtplib
opencv-python-headless
pandas
langchain_chroma
langchain_community
langchain_openai
langchain_text_splitters
langchain_core
langchain_community
langchain_core
